{
  "log_level": "debug",
  "log_file": "/var/log/retrievault.log",
  "secrets": [
    {
      "type": "certs",
      "path": "/etc/retrievault/certs",
      "vault_path": "pki/issue/es-datio",
      "parameters": {
        "common_name": "gocd.es.datio",
        "ttl": "24h",
        "alt_names": [
          "gocd-lol.es.datio"
        ],
        "ip_sans": [
          "10.142.242.119"
        ],
        "key": {
          "path": "gocd.key",
          "perm": "0600"
        },
        "cert": {
          "path": "gocd.crt",
          "perm": "0644"
        },
        "ca_cert": {
          "path": "/etc/retrievault/ca-cert/ca.crt",
          "perm": "0644"
        }
      }
    },
    {
      "type": "generic",
      "path": "/etc/retrievault/generic",
      "vault_path": "gocd/github_ssh_keys",
      "parameters": {
        "keys": {
          "private": {
            "path": "id_rsa_github",
            "perm": "0600"
          },
          "public": {
            "path": "id_rsa_github.pub",
            "perm": "0644"
          }
        }
      }
    }
  ],
  "ca_cert_path": "/usr/local/share/ca-certificates/ca.crt",
  "insecure": true,
  "vault_addr": "https://vault.es.datio:8200",
  "vault_token": "token"
}
