{
  "log_level": "debug",
  "log_file": "/var/log/retrievault.log",
  "secrets": [
    {
      "type": "certs",
      "path": "/etc/retrievault/certs",
      "vault_path": "pki/issue/rolename",
      "parameters": {
        "common_name": "common-name.yourdomain.com",
        "ttl": "24h",
        "alt_names": [
          "common.yourdomain.com",
          "localhost"
        ],
        "ip_sans": [
          "10.142.0.1"
        ],
        "key": {
          "path": "common.key",
          "perm": "0600"
        },
        "cert": {
          "path": "common.crt",
          "perm": "0644"
        },
        "ca_cert": {
          "path": "/etc/retrievault/ca-cert/common-ca.crt",
          "perm": "0644"
        }
      }
    },
    {
      "type": "generic",
      "path": "/etc/retrievault/generic",
      "vault_path": "generic/github_ssh_keys",
      "parameters": {
        "keys": {
          "private": {
            "path": "id_rsa_github",
            "perm": "0600"
          },
          "public": {
            "path": "id_rsa_github.pub",
            "perm": "0644"
          }
        }
      }
    }
  ],
  "ca_cert_path": "/usr/local/share/ca-certificates/ca.crt",
  "insecure": false,
  "vault_addr": "https://vault.yourdomain.es:8200",
  "vault_token": "token"
}
